@font-face {
  font-family: Alexandria;
  src: url(./asset/font/Alexandria-Regular.woff2);
}

* {
  font-family: Alexandria, sans-serif;
}

.rm-book {
  width: 32px;
  height: 32px;
  background-color: #dc3545;
  border-style: none;
  border-radius: 8px;
  
}

.rm-book > svg {
  padding-top: 3px;
  fill: white
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.add-book,
.create-book {
  border-style: none;
  border-radius: 8px;
  color: white;
  background: dodgerblue;
  padding: 6px 10px;
}

ul {
  list-style: none;
}

::backdrop {
  background-color: black;
  opacity: 50%;
}